{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <title>LangConnect</title>
</head>

<body>
    <nav>
        <img id="logo" src="{% static 'images/translation.png' %}" alt="logo">
    </nav>

    <div class="body">
        <div class="translation-part">

            <div class="from">
                <form id="translationForm" method="POST" enctype="multipart/form-data"
                    action="{% url 'home:translate' %}">
                    {% csrf_token %}
                    <select name="translatingFrom" id="translatingFrom">
                        {% if zipped_language %}
                        {% for name , code in zipped_language %}
                        <option value="{{name}}">{{code}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                    <!-- <input id="translateTo" name="translateTo" type="hidden"> -->
                    <textarea name="word" id="translatingWord" cols="30" rows="10"
                        placeholder="Add Text Here"></textarea>
                    <button id="translateButton" type="submit">Translate</button>
                </form>
            </div>



            <div class="to">
                <form id="pronounciation">
                    {% csrf_token %}
                    <select id="translatingTo">
                        {% if zipped_language2 %}
                        {% for name , code in zipped_language2 %}
                        <option value="{{name}}">{{code}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                    <textarea id="translationResult" cols="30" rows="10"></textarea>
                    <button id="speakingButton" type="submit">Speak</button>
                    <button id="copyButton">Copy</button>
                </form>
            </div>


        </div>

        <div id="loader" class="loader">
            <img src="{% static 'loader\7Mpw.gif' %}" alt="">
        </div>
        <div id="speakingAnimation" class="speaking">
            <img src="{% static 'loader\speakingAnimation.gif' %}" alt="">
        </div>
        <div id="notification" class="notification">
            Copied!
        </div>
    </div>
</body>

</html>